aiofiles
aiohttp
alphabet-detector
APScheduler
beautifulsoup4
bleach
bs4
cachetools
cloudscraper
covid
cryptography>=3.3.2
dnspython
emoji==1.7.0
ez-setup==0.9
ffmpeg-python
future
GitPython
gpytranslate
gTTS
heroku3
httpx
hurry.filesize
importlib-metadata
jikanpy
lxml
lyricsgenius
markdown
markdown2>=2.4.0
motor<2.4.0,>=2.1.0
multicolorcaptcha
nekos.py
nltk
nump
Pillow
pretty-errors
psutil
psycopg2-binary
pykeyboard
pymongo==3.12.3
pyrate-limiter
pyrogram==2.0.52
python-arq
PySocks==1.7.1
pyrogram==2.0.52
python-telegram-bot==13.11
pendulum
pytimeparse==1.1.8
pytz==2022.6
PyYAML==5.3.1
redis==4.3.1
regex==2022.4.24
requests==2.27.1
search-engine-parser==0.6.1
spamwatch==0.3.0
speedtest-cli
spongemock
sqlalchemy==1.3.20
telegraph
telethon==1.24.0
textblob
tgcrypto
tswift
ujson
wget
wikipedia
youtube_dl
youtube_search
youtube_search_python
yt-dlp
