future
emoji
lxml
wget
gtts
beautifulsoup4
requests==2.27.1
telegram==0.0.1
python-telegram-bot==13.8.1
sqlalchemy
psycopg2-binary
feedparser
faker
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow
CurrencyConverter
googletrans==4.0.0-rc1
google-trans-new==1.1.9
jikanpy
speedtest-cli
coffeehouse==2.2.6
regex
bleach
wikipedia
markdown2>=2.4.0
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
Pyrogram
PyDictionary
yt-dlp
youtube_search_python==1.6.1
youtube_search
lyrics_extractor
asyncio
cloudscraper
dateparser==1.1.0
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
tzlocal==4.1
pendulum
fuzzysearch
img2pdf
multicolorcaptcha
